name: CI

on:
  push:
  pull_request:
    types: [opened, synchronize]

env:
  NODE_VERSION: 20

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pm: [npm, pnpm, yarn]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 20

      - name: setup pnpm
        if: matrix.pm == 'pnpm'
        uses: pnpm/action-setup@a7487c7e89a18df4991f7f222e4898a00d66ddda # v4.1.0
        with:
          package_json_file: 'pnpm/package.json'

      - name: install
        run: |
          cd ${{ matrix.pm }}
          if [ "${{ matrix.pm }}" = "pnpm" ]; then
            pnpm install --frozen-lockfile
          elif [ "${{ matrix.pm }}" = "yarn" ]; then
            yarn install --frozen-lockfile
          else
            npm ci
          fi

      - name: build
        run: |
          cd ${{ matrix.pm }}
          if [ "${{ matrix.pm }}" = "pnpm" ]; then
            pnpm build
          elif [ "${{ matrix.pm }}" = "yarn" ]; then
            yarn build
          else
            npm run build
          fi

      - name: typecheck
        run: |
          cd ${{ matrix.pm }}
          if [ "${{ matrix.pm }}" = "pnpm" ]; then
            pnpm run typecheck
          elif [ "${{ matrix.pm }}" = "yarn" ]; then
            yarn run typecheck
          else
            npm run typecheck
          fi
