name: Release

on:
  push:
    tags:
      - "*"

jobs:
  release:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pm: [npm, pnpm, yarn]
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955 # v4.3.0

      - name: setup node
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: 20

      - name: setup pnpm
        if: matrix.pm == 'pnpm'
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          package_json_file: 'pnpm/package.json'

      - name: install
        run: |
          cd ${{ matrix.pm }}
          if [ "${{ matrix.pm }}" = "pnpm" ]; then
            pnpm install --frozen-lockfile
          elif [ "${{ matrix.pm }}" = "yarn" ]; then
            yarn install --frozen-lockfile
          else
            npm ci
          fi

      - name: build
        run: |
          cd ${{ matrix.pm }}
          if [ "${{ matrix.pm }}" = "pnpm" ]; then
            pnpm build
          elif [ "${{ matrix.pm }}" = "yarn" ]; then
            yarn build
          else
            npm run build
          fi

      - name: publish
        uses: luxass/publish-vscode-extension@main
        id: vsix-publish
        with:
          token: ${{ secrets.VS_MARKETPLACE_TOKEN }}
          registry: vs-marketplace
          debug: true
          manager: ${{ matrix.pm }}
          extension-path: ${{ matrix.pm }}
          dry-run: false

      - name: rename artifact
        run: |
          mv ${{ matrix.pm }}/*.vsix ${{ matrix.pm }}.vsix

      - name: upload artifact
        uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
        with:
          name: ${{ matrix.pm }}-vsix
          path: ${{ matrix.pm }}.vsix
